<div>Liste de nos auteurs pref ♥</div>

<table>
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Nom
            </td>
            <td>
                Prenom
            </td>
            <td>
                Nationalite
            </td>
          </tr>
    </thead>

    <tbody>
        <tr *ngFor="let auteur of auteurs$ | async">
            <td>{{ auteur.id }}</td>
            <td>{{ auteur.nom }}</td>
            <td>{{ auteur.prenom }}</td>
            <td>{{ auteur.nationalite }}</td>

            <td>
                <button (click)="edit(auteur)">MODIFIER</button>
                <button (click)="remove(auteur)">SUPPRIMER</button>
            </td>
        </tr>
    </tbody>
</table>

<br/>

<form (submit)="addOrUpdate()" [formGroup]="formAuteur">
    <p>Nom</p>
    <input type="text" [formControl]="formCtrlNom">
    <div *ngIf="formCtrlNom.invalid && formCtrlNom.dirty && formCtrlNom.hasError('minlength')">
        Le nom de l'auteur doit etre renseigné.
    </div>

    <p>Prenom</p>
    <input type="text" [formControl]="formCtrlPrenom">
    <div *ngIf="formCtrlPrenom.invalid && formCtrlPrenom.dirty && formCtrlPrenom.hasError('minlength')">
        Le prenom de l'auteur doit etre renseigné.
    </div>

    <p>Nationalite</p>
    <input type="text" [formControl]="formCtrlNationalite">
    <div *ngIf="formCtrlNationalite.invalid && formCtrlNationalite.dirty && formCtrlNationalite.hasError('minlength')">
        La nationalite de l'auteur doit etre renseignée.
    </div>

    <div>
        <input [disabled]="formAuteur.invalid" type="submit"
            [value]="editingAuteurId ? 'Modifier' : 'Ajouter'" />
    </div>
</form>

