<div>Liste des Livres</div>

<table>
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Titre
            </td>
            <td>
                Année
            </td>
            <td>
                Auteur
            </td>
            <td>
                Editeur
            </td>
            <td>
                Actions
            </td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let livre of livres$ | async">
            <td>{{ livre.id }}</td>
            <td>{{ livre.titre }}</td>
            <td>{{ livre.annee }}</td>
            <td>{{ livre.auteur.id}} - {{ livre.auteur.prenom }} {{livre.auteur.prenom}}</td>
            <td>Edition {{ livre.editeur.nom }} </td>
            <td>
                <button (click)="edit(livre)">MODIFIER</button>
                <button (click)="remove(livre)">SUPPRIMER</button>
            </td>
        </tr>
    </tbody>
</table>

<br/>

<form (submit)="addOrUpdate()" [formGroup]="formLivre">
    <p>Titre</p>
    <input type="text" [formControl]="formCtrlTitre">
    <div *ngIf="formCtrlTitre.invalid && formCtrlTitre.dirty ">
        Le titre du livre est obligatoire.
    </div>

    <p>Année</p>
    <input type="text" [formControl]="formCtrlAnnee">
    <div *ngIf="formCtrlAnnee.invalid && formCtrlAnnee.dirty ">
        L'année du livre est obligatoire.
    </div>

    <p>Résumer</p>
    <input type="text" [formControl]="formCtrlResumer">


    <p>Auteur</p>
    <select [formControl]="formCtrlAuteur">
      <option value="">--- Auteurs ---</option>
      <option *ngFor="let auteur of auteurs$ |async" [ngValue]="auteur">{{auteur.prenom}} {{auteur.nom}}</option>
    </select>
    <div *ngIf="formCtrlAuteur.invalid && formCtrlAuteur.dirty">
        L'auteur du livre est obligatoire.
    </div>

    <p>Editeur</p>
    <select [formControl]="formCtrlEditeur">
      <option value="">--- Editeurs ---</option>
      <option *ngFor="let editeur of editeurs$ |async" [ngValue]="editeur">{{editeur.nom}}</option>
    </select>
    <div *ngIf="formCtrlEditeur.invalid && formCtrlEditeur.dirty">
        L'éditeur du livre est obligatoire.
    </div>

    <p>Collection</p>
    <select [formControl]="formCtrlCollection">
      <option value="">--- Collections ---</option>
      <option *ngFor="let collection of collections$ |async" [ngValue]="collection">{{collection.nom}}</option>
    </select>


    <div>
        <input [disabled]="formLivre.invalid" type="submit"
            [value]="editingLivreId ? 'Modifier' : 'Ajouter'" />
    </div>
</form>
