<div>Liste des Collections</div>

<table>
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Nom
            </td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let collection of collections$ | async">
            <td>{{ collection.id }}</td>
            <td>{{ collection.nom }}</td>
            <td>
                <button (click)="edit(collection)">MODIFIER</button>
                <button (click)="remove(collection)">SUPPRIMER</button>
            </td>
        </tr>
    </tbody>
</table>

<form (submit)="addOrUpdate()" [formGroup]="formCollection">
    <input type="text" [formControl]="formCtrlNom">
    <div *ngIf="formCtrlNom.invalid && formCtrlNom.dirty && formCtrlNom.hasError('minlength')">
        Le nom de la collection doit contenir au moins 3 caractères.
    </div>

    <div>
        <input [disabled]="formCollection.invalid" type="submit"
            [value]="editingCollectionId ? 'Modifier' : 'Ajouter'" />
    </div>
</form>