<form [formGroup]="avisForm" (ngSubmit)="addOrUpdate()">

  <label for="livre">Livre :</label>
  <select id="livre" formControlName="livre">
    <option value="" disabled selected>-- Choisir un livre --</option>
    <option *ngFor="let livre of livres$ | async" [value]="livre.id">
      {{ livre.titre }}
    </option>
  </select>

  <label for="note">Note :</label>
  <select id="note" formControlName="note">
    <option value="" disabled selected>-- Choisir une note --</option>
    <option *ngFor="let notes of notesDisponibles" [value]="notes">{{ notes }}</option>
  </select>
  <div *ngIf="avisForm.get('note')?.invalid && avisForm.get('note')?.touched">
    Note invalide
  </div>

  <label for="date">Date :</label>
  <input id="date" formControlName="date" type="date">
  <div *ngIf="avisForm.get('date')?.invalid && avisForm.get('date')?.touched">
    Date obligatoire
  </div>

  <label for="commentaire">Commentaire :</label>
  <textarea id="commentaire" formControlName="commentaire"></textarea>

  <button type="submit" [disabled]="avisForm.invalid">
    {{ editingAvisId ? 'Modifier' : 'Ajouter' }}
  </button>

</form>

<hr />

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Livre</th>
      <th>Note</th>
      <th>Commentaire</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let avis of avis$ | async">
      <td>{{ avis.id }}</td>
      <td>{{ avis.livre }}</td>
      <td>{{ avis.note }}</td>
      <td>{{ avis.commentaire }}</td>
      <td>
         <button (click)="remove(avis)">Supprimer

         </button></td>

    </tr>
  </tbody>
</table>
